<section>
  <.greet messenger={@messenger} />
  <%!-- <h1>
    Hello from messenger: <%= @messenger %>
  </h1> --%>
  <div class="mt-6">
    <.link href={~p"/hello"}>back to hello</.link>
  </div>
</section>
